# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\实验\dp-sparse-mcs-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
